a {
    text-decoration: none;
    color: skyblue;
}

a:hover{
    color: aquamarine;
}

#card{
    margin: 0 10px;
}

/* .card-footer>p{
    text-align: justify;
} */

.more{
    color: green;
}

.less{
    color: orange;
}